body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    place-items: center;    
    min-height: 100vh;
    background-color: hsl(255 50% 5%);
}
.container{
    width: 100%;
    max-height: 80vh;
    text-align: center;    
    color: white;

    
}
.title{
    font-size: 1.4rem;
    margin-bottom: 4rem;
}
h1{
    text-decoration: underline;

}
.btn-ripple{
    display: inline-grid;
    position: relative;
    place-items: center;
    isolation: isolate;
    cursor: pointer;
    border: 3px solid currentColor;
    color: rgb(109, 234, 51);
    background-color: transparent;
    padding: 2rem 4rem;
    appearance: none; 
    font-size:4rem;
    overflow: hidden;
}
.btn-ripple:hover{
    transform: scale(1.02);
}
.btn-ripple::before {
    display: block;
    width: 180%;
    position: absolute;
    top:var(--y);
    left: var(--x);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 600ms;
    content: '';
    background: rgb(255, 255, 255);
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 0.8;
    z-index: -1;
}

.pulsing::before{
    animation: pulsing 500ms;
}
@keyframes pulsing {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0.5;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }
  

